* {
    font-family: 'Roboto';
}
#logo{
    width: 50px;
}
#search-container{
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-position: cover;
    height: 400px;
    padding: 50px;
    text-align: center;
}
#search-container h1 {
    color: #F2A340;
    font-weight: 900;
}